body {
    margin: 0;
    background: url("https://i.ibb.co/72XjyPK/daniel-mccullough-o86-Au-YXPDB8-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#eee;
    font-family: Helvetica;
    height: 100vh;
    
}
h3{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: rgba(31, 72, 126, 0.8);
    padding: 50px 80px 75px;
    width: 575px;
    margin-bottom: 50px;
    border-radius: 15px;
    border: 1px solid rgba(239, 242, 192, 0.5);
    box-shadow: 1px 1px 5px #D07B52; 
}
.add-btn{
   
    width:45px;
    height: 45px;
    margin-bottom: 10px;
}
.action-btn{
    width: 145px;
    height: 45px;
}
button{
    font-family: 'Cursed Timer ULiL', sans-serif;
     background: #1D3461;
    color: #eee;
    border-radius: 5px;
    border: 2px solid #9AABD8;
}
.score-box{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background:#000;
    color:red;
    display: flex;
    justify-content: center;
    padding: 20px 20px 0;
    font-size: 90px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 125px;
}
#announcement{
font-family: 'Oldtimer', sans-serif;
font-size: 24px;
color:yellow;
width: 575px;
text-shadow: 2px 2px 1px #000;
text-align: center;
}
#announcement:hover{
transform: scale(1.5);
transition: all .3s ease-in-out;
}